@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, :root {
	height: 100%
}

.form-shadow {
	box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
}

.main-color {
	background: #3C5240
}

.disabled-button {
	background: #627F68
}

.border-main-color {
	border-color: #3C5240
}

.black-transparent {
	background: rgba(0, 0, 0, .25)
}
